
.strip{
  min-height: 350px;
  background: rgb(255, 255, 255);
  background-image: url(images/office.jpg);
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: center;
  text-align: center;
   
}

.strip h2{
  color:white;
  font-size:4em;
  text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.6);
}
.card{
  background: rgb(128, 128, 128);
  color: skyblue;
  text-align: center;
  box-shadow: 1px 2px 2px 1px rgb(43, 2, 37);
  border-radius: 30px;
}
.card img{
  border-radius: 30px;
}

.card-body{
  margin: 0;
  
}
